<a href="https://colab.research.google.com/github/konschak/WebscrappingAP/blob/main/Limpeza%20de%20dados%20-%20Apartamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Limpeza dos dados

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

In [ ]:
dados = pd.read_csv('Apartamentos.csv', sep=';', index_col=0)
dados.head(5)

,preco,metros_quadrados,num_quartos,num_banheiro,num_garagem,endereco,link
0,R$ 339.900,48 a 15,2,1,1,Capão Raso,https://www.chavesnamao.com.br/lancamento/gard...
1,R$ 390.000,133,3,1,1,Portão,https://www.chavesnamao.com.br/imovel/apartame...
2,R$ 930.000,68,2,2,1,Vila Izabel,https://www.chavesnamao.com.br/imovel/apartame...
3,R$ 298.000,64,2,1,1,Santa Cândida,https://www.chavesnamao.com.br/imovel/apartame...
4,R$ 890.000,122,2,3,2,São Francisco,https://www.chavesnamao.com.br/imovel/apartame...

In [ ]:
dados.preco = dados.preco.str.replace('R$ ','',  regex=False)
dados.preco = dados.preco.str.replace('.','')
dados.preco = dados.preco.str.replace('Confira','0')
dados.sort_values(by=['preco']).preco.unique()

<ipython-input-94-a65c4753857f>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados.preco = dados.preco.str.replace('.','')

array(['0', '1000000', '1014900', '1018159', '1020000', '1026900',
       '1027047', '1038634', '1040000', '1043443', '1048900', '105000',
       '1050000', '1052301', '1070100', '1072427', '10766600', '1077771',
       '1080000', '1085037', '1090000', '1092620', '1099000', '1099990',
       '1100000', '11000000', '1119063', '1120209', '1124057', '1130416',
       '1140000', '1150000', '1160000', '1160868', '1164000', '1170000',
       '1179374', '1180000', '1183200', '1185000', '1189952', '1190000',
       '1195000', '1199000', '120000', '1204719', '1227000', '1238967',
       '1249900', '125000', '1250000', '1254859', '1258000', '1270000',
       '1280000', '1287632', '129000', '1290000', '129900', '1299000',
       '130000', '1300000', '1304136', '1310000', '132000', '1320000',
       '1350000', '1360000', '1360164', '1363000', '1363060', '1365000',
       '1365165', '1367151', '1370000', '1377937', '1380000', '1385000',
       '1390000', '140000', '1400000', '1414000', '1415000', '1431900',
       '1435000', '14420098', '145000', '1450000', '1479000', '1480000',
       '149000', '1490000', '1496000', '1499900', '149999', '150000',
       '1500000', '150100', '1501605', '1515726', '1518000', '1519009',
       '1524000', '1525630', '1531765', '1533771', '1536551', '155000',
       '1550000', '1553534', '156000', '1570000', '1576195', '1577600',
       '1580000', '1587420', '1589000', '1589985', '159000', '1590000',
       '1590400', '159900', '1599000', '159999', '160000', '1600000',
       '1611844', '162000', '1624319', '1630000', '163359', '165000',
       '1650000', '1662250', '1668822', '168000', '1680000', '1684000',
       '169000', '1690000', '1695495', '169900', '170000', '1700000',
       '1708670', '1730348', '1733101', '1735000', '1749000', '175000',
       '1750000', '1750900', '1751000', '1769000', '1776900', '178000',
       '1780000', '178900', '1790000', '1793449', '179755', '180000',
       '1800000', '183800', '184000', '184900', '1849000', '185000',
       '1850000', '186500', '188000', '189000', '190000', '1900000',
       '191000', '1923900', '1929000', '1930000', '1946000', '195000',
       '1950000', '1968000', '1980000', '1988900', '199000', '1995000',
       '199900', '1999000', '200000', '2000000', '2010422', '210000',
       '2100000', '2128900', '2146590', '215000', '2152249', '215925',
       '216000', '2171900', '218000', '219000', '2190000', '219900',
       '2199000', '220000', '2200000', '223000', '2245000', '224900',
       '225000', '2250000', '2259671', '2274575', '229000', '2298000',
       '229900', '230000', '232000', '2324322', '2324336', '2328288',
       '232900', '2330000', '2342000', '2345000', '235000', '2369616',
       '238000', '2380000', '238750', '2389064', '239000', '239900',
       '240000', '240490', '2410150', '242000', '2422000', '244000',
       '244400', '245', '245000', '248300', '249000', '249500', '249900',
       '250000', '2500000', '251100', '252000', '253744', '254000',
       '255000', '256242', '257000', '2570813', '257900', '258000',
       '2580000', '258122', '258900', '259000', '2590000', '2596000',
       '259700', '260000', '2601000', '2604000', '2606500', '260730',
       '260900', '260990', '2610000', '261900', '261941', '2620000',
       '262685', '264000', '2645900', '264900', '265000', '2650000',
       '2656670', '265965', '269000', '2690000', '269400', '269606',
       '269700', '269900', '270000', '2700000', '2701081', '2709681',
       '272000', '2720000', '274990', '275000', '275489', '2757400',
       '277000', '279000', '2790000', '280', '280000', '280710', '282942',
       '283999', '284000', '284184', '284549', '284999', '285000',
       '287729', '2877740', '288000', '288578', '288592', '289000',
       '2892444', '289600', '290000', '2900000', '291000', '2914000',
       '291619', '2917330', '292000', '292638', '2934166', '2948000',
       '294900', '295000', '296548', '297456', '297900', '298000',
       '2980000', '299000', '2990000', '299306', '299900', '299999',
       '300000', '3009000', '303000', '305000', '305990', '306000',
       '306640', '3067853', '307564', '3076000', '309000', '3090000',
       '3098000', '310000', '310737', '3122597', '312705', '315000',
       '317000', '317795', '318000', '3180000', '319000', '320000',
       '3200000', '320415', '321164', '322908', '324006', '325000',
       '325900', '328558', '329000', '3290000', '329051', '3296473',
       '329900', '330000', '334840', '334900', '335000', '335990',
       '336000', '338000', '339000', '339900', '339990', '340000',
       '3400000', '3407000', '341900', '3426352', '344000', '3440000',
       '344043', '345000', '345400', '348000', '349000', '349900',
       '350000', '3500000', '355900', '3562145', '356449', '358000',
       '360000', '360410', '364900', '365000', '367000', '368000',
       '368865', '369000', '369093', '3695121', '370000', '3704532',
       '370676', '371000', '3717900', '372000', '375000', '3750000',
       '375510', '376900', '378000', '379000', '379273', '3793802',
       '3795000', '3799180', '379970', '380000', '383000', '385000',
       '387000', '389000', '3890000', '389900', '3899000', '390000',
       '3900000', '390829', '3908300', '3909000', '391767', '392708',
       '3939288', '393975', '394900', '395000', '397000', '3985900',
       '399000', '399900', '3999000', '3999078', '400000', '4000000',
       '401091', '401246', '402836', '405000', '409900', '410000',
       '410218', '4120000', '414000', '414645', '415000', '415390',
       '415520', '415800', '416000', '418670', '419000', '420000',
       '4200000', '421000', '422000', '423000', '423318', '425000',
       '425467', '425900', '427600', '428000', '429000', '430000',
       '432000', '432564', '435000', '436900', '439000', '440000',
       '4436400', '4438153', '443900', '444520', '445000', '445952',
       '447900', '448133', '448900', '449000', '449100', '4499000',
       '449990', '450000', '4500000', '453000', '454799', '455000',
       '459000', '459570', '460000', '462990', '4696000', '470000',
       '473355', '475000', '476840', '477000', '478841', '480000',
       '4800000', '482500', '484000', '485000', '485255', '486683',
       '487544', '4884430', '488900', '489500', '490000', '490779',
       '493000', '493314', '495000', '498000', '499000', '499310',
       '4999900', '500000', '505000', '505110', '506258', '507312',
       '509000', '509990', '512508', '512922', '5181000', '520000',
       '520600', '520886', '521900', '522000', '523000', '524500',
       '524663', '524737', '525000', '528000', '528019', '528900',
       '530000', '530758', '535000', '5350000', '535178', '537000',
       '538900', '540000', '540925', '5429900', '5432470', '545000',
       '5458100', '548000', '549000', '549950', '550000', '5500000',
       '555000', '556900', '557196', '557445', '559900', '560000',
       '561000', '563900', '565000', '565800', '567000', '569000',
       '569900', '570900', '575362', '575700', '577900', '580000',
       '5800000', '584000', '586011', '589000', '589900', '590000',
       '590933', '592900', '595000', '595499', '595547', '597000',
       '599000', '5992875', '599900', '600000', '603500', '6054718',
       '606900', '607000', '607759', '609000', '6090000', '609900',
       '610000', '612900', '615000', '616500', '617900', '618115',
       '620000', '621000', '623187', '624900', '625000', '626026',
       '627600', '629000', '629900', '630000', '634202', '635000',
       '636900', '6372900', '640000', '6404411', '640951', '641000',
       '641475', '643900', '645000', '645618', '649000', '650000',
       '650329', '651500', '660000', '661424', '665000', '670000',
       '673316', '673900', '676900', '677340', '680000', '681900',
       '682000', '685000', '688000', '690000', '690283', '691670',
       '695000', '697900', '698170', '699000', '699900', '700000',
       '705500', '709000', '710000', '711109', '714900', '715900',
       '719000', '720000', '7211303', '727400', '730000', '733000',
       '736900', '737000', '7388800', '739600', '740000', '749000',
       '750000', '752100', '753000', '754000', '756029', '759000',
       '760000', '765000', '767280', '768000', '770000', '775000',
       '776000', '780000', '7800000', '780667', '781100', '784900',
       '785000', '785309', '787000', '790000', '791389', '794073',
       '795000', '798000', '799000', '800000', '800800', '801408',
       '806000', '810000', '810900', '816000', '820000', '821927',
       '822974', '829000', '8295933', '830000', '830496', '830700',
       '835798', '837000', '839000', '840000', '840110', '8440500',
       '847500', '848900', '849000', '850000', '850927', '851670',
       '852900', '855000', '859000', '860000', '8628008', '864000',
       '864900', '866108', '870000', '872000', '873900', '875000',
       '875303', '876000', '876317', '879900', '880000', '882093',
       '882900', '887534', '890000', '895000', '8952193', '895500',
       '895900', '898000', '899000', '899900', '900000', '901706',
       '905000', '910000', '912700', '920000', '921000', '922225',
       '925900', '927003', '930000', '940000', '945000', '948900',
       '949900', '950000', '958000', '959700', '963500', '975000',
       '979000', '980000', '980499', '983819', '984500', '985000',
       '989000', '989727', '990000', '997258', '998000', '999000'],
      dtype=object)

In [ ]:
dados.preco = dados.preco.astype(float)
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2655 entries, 0 to 2654
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   preco             2655 non-null   float64
 1   metros_quadrados  2655 non-null   object
 2   num_quartos       2655 non-null   object
 3   num_banheiro      2655 non-null   object
 4   num_garagem       2655 non-null   int64
 5   endereco          2655 non-null   object
 6   link              2655 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 165.9+ KB

In [ ]:
dados.head(5)

,preco,metros_quadrados,num_quartos,num_banheiro,num_garagem,endereco,link
0,339900.000,48 a 15,2,1,1,Capão Raso,https://www.chavesnamao.com.br/lancamento/gard...
1,390000.000,133,3,1,1,Portão,https://www.chavesnamao.com.br/imovel/apartame...
2,930000.000,68,2,2,1,Vila Izabel,https://www.chavesnamao.com.br/imovel/apartame...
3,298000.000,64,2,1,1,Santa Cândida,https://www.chavesnamao.com.br/imovel/apartame...
4,890000.000,122,2,3,2,São Francisco,https://www.chavesnamao.com.br/imovel/apartame...

In [ ]:

dados.metros_quadrados = dados.metros_quadrados.str.replace('.','' )
dados.metros_quadrados = dados.metros_quadrados.str.replace('--','0')

metro_split = dados.metros_quadrados
n = [metros_menor.split()[0] for metros_menor in metro_split]
dados.metros_quadrados = n
dados.sort_values(by=['metros_quadrados']).metros_quadrados.unique()

<ipython-input-97-01f58afa8917>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados.metros_quadrados = dados.metros_quadrados.str.replace('.','' )

array(['0', '100', '101', '102', '103', '1034', '104', '105', '106',
       '107', '108', '109', '110', '111', '112', '113', '114', '115',
       '116', '117', '118', '119', '120', '121', '122', '123', '124',
       '125', '126', '127', '128', '129', '130', '131', '132', '133',
       '134', '135', '13500', '136', '138', '139', '140', '141', '142',
       '143', '144', '145', '146', '147', '149', '150', '151', '152',
       '153', '154', '155', '156', '157', '158', '159', '160', '161',
       '162', '163', '165', '166', '167', '168', '17', '170', '172',
       '175', '176', '177', '178', '179', '18', '180', '181', '182',
       '183', '184', '185', '18540', '188', '189', '19', '190', '193',
       '194', '195', '196', '198', '20', '200', '201', '203', '204',
       '205', '206', '209', '21', '210', '211', '212', '214', '215',
       '216', '22', '222', '223', '224', '227', '228', '229', '23', '230',
       '231', '232', '233', '234', '239', '24', '240', '241', '245', '25',
       '250', '254', '255', '256', '259', '26', '260', '263', '266',
       '267', '268', '269', '27', '272', '28', '280', '288', '289', '29',
       '293', '30', '302', '305', '31', '310', '313', '315', '32', '33',
       '330', '333', '334', '335', '338', '34', '346', '348', '35', '350',
       '351', '353', '36', '362', '364', '367', '37', '3705', '372', '38',
       '380', '388', '39', '399', '40', '403', '405', '409', '41', '414',
       '42', '425', '43', '433', '44', '443', '444', '45', '455', '46',
       '464', '4668', '47', '473', '48', '48720', '49', '50', '50580',
       '506', '51', '513', '52', '52000', '527', '53', '534', '54', '55',
       '56', '57', '58', '59', '59000', '60', '61', '6115', '62', '63',
       '64', '65', '66', '67', '68', '69', '70', '700', '71', '72', '73',
       '74', '75', '76', '77', '78', '79', '79170', '80', '81', '814',
       '82', '83', '84', '85', '86', '86000', '87', '88', '89', '90',
       '91', '92', '93', '9345', '94', '95', '96', '97', '98', '99'],
      dtype=object)

In [ ]:
dados.metros_quadrados = dados.metros_quadrados.astype(float)
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2655 entries, 0 to 2654
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   preco             2655 non-null   float64
 1   metros_quadrados  2655 non-null   float64
 2   num_quartos       2655 non-null   object
 3   num_banheiro      2655 non-null   object
 4   num_garagem       2655 non-null   int64
 5   endereco          2655 non-null   object
 6   link              2655 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 165.9+ KB

In [ ]:
dados.sort_values(by=['num_quartos']).num_quartos.unique()

array(['0', '1 ', '1  Banheiro', '1  Garagem', '1 a 2 ', '1 a 3 ', '2 ',
       '2  Banheiros', '2 a 2 ', '2 a 3 ', '3 ', '3 a 3 ', '4 ', '5 '],
      dtype=object)

In [ ]:
quarto_split = dados.num_quartos
n = [quarto_menor.split()[0] for quarto_menor in quarto_split]
dados.num_quartos = n
dados.sort_values(by=['num_quartos']).num_quartos.unique()

array(['0', '1', '2', '3', '4', '5'], dtype=object)

In [ ]:
dados.num_quartos = dados.num_quartos.astype(np.float64)
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2655 entries, 0 to 2654
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   preco             2655 non-null   float64
 1   metros_quadrados  2655 non-null   float64
 2   num_quartos       2655 non-null   float64
 3   num_banheiro      2655 non-null   object
 4   num_garagem       2655 non-null   int64
 5   endereco          2655 non-null   object
 6   link              2655 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 165.9+ KB

In [ ]:
banheiro_split = dados.num_banheiro
n = [banheiro_menor.split()[0] for banheiro_menor in banheiro_split]
dados.num_banheiro = n
dados.sort_values(by=['num_banheiro']).num_banheiro.unique()

array(['0', '1', '2', '3', '4', '5', '6', '7'], dtype=object)

In [ ]:
dados.num_banheiro = dados.num_banheiro.astype(int)
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2655 entries, 0 to 2654
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   preco             2655 non-null   float64
 1   metros_quadrados  2655 non-null   float64
 2   num_quartos       2655 non-null   float64
 3   num_banheiro      2655 non-null   int64
 4   num_garagem       2655 non-null   int64
 5   endereco          2655 non-null   object
 6   link              2655 non-null   object
dtypes: float64(3), int64(2), object(2)
memory usage: 165.9+ KB

In [ ]:
preco_por_mquadrado = dados.preco/dados.metros_quadrados
preco_por_mquadrado

0       7081.250
1       2932.331
2      13676.471
3       4656.250
4       7295.082
          ...
2650   12056.250
2651    7700.000
2652    9868.421
2653   10368.649
2654         inf
Length: 2655, dtype: float64

In [ ]:
pd.set_option('float_format', '{:.3f}'.format)
dados['Preco/metro_quadrado'] = dados.preco/dados.metros_quadrados
dados['Preco/metro_quadrado']

0       7081.250
1       2932.331
2      13676.471
3       4656.250
4       7295.082
          ...
2650   12056.250
2651    7700.000
2652    9868.421
2653   10368.649
2654         inf
Name: Preco/metro_quadrado, Length: 2655, dtype: float64

In [ ]:
 preco_zerado =  dados.loc[(dados['preco'] == 0)]
 preco_zerado.index

Int64Index([ 107,  215,  298,  307,  682,  731,  831,  852,  872, 1277, 1385,
            1468, 1477, 1852, 1901, 2001, 2022, 2042, 2419, 2565, 2579, 2618],
           dtype='int64')

In [ ]:
dados.drop(preco_zerado.index, inplace=True)

In [ ]:
metros_zerado =  dados.loc[(dados['metros_quadrados'] == 0)]
dados.drop(metros_zerado.index, inplace=True)

In [ ]:
pd.set_option('float_format', '{:.2f}'.format,
              'display.max_rows',
              None)
media = dados.groupby('endereco').mean()
media['Preco/metro_quadrado'].sort_values()

<ipython-input-154-393afc5a6447>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  media = dados.groupby('endereco').mean()

endereco
Ganchinho              2976.19
Barreirinha            3297.87
Tatuquara              3380.89
Pilarzinho             3576.24
Campo de Santana       3690.64
Sítio Cercado          3794.99
Alto Boqueirão         4289.29
Fazendinha             4356.91
Boqueirão              4455.09
Santa Cândida          4608.83
Uberaba                4703.90
Umbará                 4741.88
Vista Alegre           4916.67
Atuba                  5077.15
Guabirotuba            5095.24
Pinheirinho            5194.64
Jardim das Américas    5309.17
Cidade Industrial      5314.79
Parolin                5489.58
Xaxim                  5489.70
Cajuru                 5495.93
São Braz               5527.78
Hauer                  5538.54
Fanny                  5743.17
Capão Raso             5917.97
Abranches              5952.38
Lindóia                6310.79
Tingui                 6387.85
Novo Mundo             6400.93
Prado Velho            6511.24
Santa Quitéria         6577.90
Jardim Botânico        6589.90
Rebouças               6601.51
Bairro Alto            6618.39
Cascatinha             6619.70
Guaíra                 6685.09
Portão                 6691.48
Alto da Rua XV         7016.31
Boa Vista              7262.34
Campo Comprido         7292.96
Tarumã                 7316.55
Centro                 7504.01
Capão da Imbuia        7526.18
Bacacheri              7714.69
Santa Felicidade       7737.37
Ahú                    7747.56
Vila Izabel            7859.68
Cristo Rei             8224.84
Campina do Siqueira    8700.86
Água Verde             8870.60
São Lourenço           8977.40
Jardim Social          9020.98
Augusta                9375.00
Centro Cívico          9681.49
Batel                  9870.39
Juvevê                 9911.85
Cabral                 9949.85
Mercês                10290.51
São Francisco         10301.47
Hugo Lange            10432.37
Ecoville              10755.78
Bigorrilho            11058.76
Santo Inácio          11157.40
Seminário             11389.87
Alto da Glória        13171.99
Mossunguê             13537.43
Bom Retiro            14597.09
Name: Preco/metro_quadrado, dtype: float64